node_modules/
.env
database.db
.DS_Store
*.log

# Böyük fayllar
*.exe
*.zip
*.rar
*.msi
*.7z

# Şəxsi fayllar
andurma-password.txt
andurma-url.txt
supabase-*.txt
*.txt

# Yüklənən fayllar
uploads/*
!uploads/.gitkeep